<div class="row">
  <div class="col">
  	<h1>Editing Contact</h1>
  </div>
</div>

<div class="row">
  <div class="col">
  	<%= render 'form' %>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
  	<%= link_to 'Show', @contact %> |
	  <%= link_to 'Back', contacts_path %>
  </div>
</div>



